<ul>
  {{#tvShows}}
    <li>{{.}}</li>
  {{/tvShows}}
</ul>
<form class="name-submission" method="post">
  <input type="text" name="name" value="">
  <input type="Submit" name="" value="Submit">
</form>
